:root {
    /*Google Font
    font-family: 'Poppins', sans-serif;
    font-family: 'Righteous', cursive;
    */
    
    /*Color*/
    --light: #F7F9FB;
    --light-sub: #d4d4d4;
    --dark: #212529;
    --dark-sub: #7c7c7c;
    --primary: #FD9300;
    --primary-sub: #FFC000;
    --secondary: #283F4D;
    --tritary: #186C52;
    --tritary-sub: #54AD4F;
    --four: #e63946;
}



/*--------------------------Home--------------------------*/
/*Body*/
body {
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    /*
    min-height: 100%;
    */
    background-image: url("https://www.transparenttextures.com/patterns/carbon-fibre-v2.png");
}

/*
body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    right: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-image: url("/img/");
    background-size: cover;
    z-index: -1;
}

/*Body Sub - Margin*/
.body-sub {
    margin-left: 6rem !important;
    margin-right: 6rem !important;
}

/*TNavbar Top - Margin Top*/
.navbar-top {
    padding: 1rem;

    background-image: url("https://www.transparenttextures.com/patterns/carbon-fibre-v2.png");
}

.navbar-top .navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--primary);
}

.navbar-top .navbar-brand:hover {
    color: var(--primary-sub);
}

.navbar-top .active {
    font-weight: bold;
}

.navbar-top button {
    border: none;
}

.navbar-top button:focus {
    box-shadow: none;
}


/*Hero Page*/
.hero {
    margin-top: 10vh;
    height: 55;
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
}

.hero h1, .hero p {
    text-shadow: 2px 2px 10px #212529;
}

.hero .btn {
    box-shadow: 2px 2px 10px #212529;
}

/*
.hero::before{
    content: '';
    position: absolute;
    margin-left: 12rem !important;
    margin-right: 12rem !important;
    width: 100%;
    height: 50vh;
    background-image: url("/img/defier-nguyen-unsplash.jpg");
    background-position: center;
    background-size: cover;
    filter: brightness(50%) blur(2px);
    z-index: -1;
    -webkit-filter: brightness(50%) blur(2px);
}
*/

.hero main {
    /*
    padding-top: 10vh;
    */
}

.hero .card-transparant {
    border: none;
    height: 55vh;
    top: 0;
    padding-top: 15vh;
}

.hero h1 {
    font-family: 'Righteous', cursive;
    font-size: 7rem;
    margin-top: -2rem;
}

.hero p a {
    font-weight: bold;
    color: var(--primary) !important;
}

.btn-primary {
    background-color: var(--primary);
    border: none;
}

.btn-primary:hover {
    background-color: var(--primary-sub);
}


/*Couple Card Arjuna*/
.card-arjuna {
    margin-top: -7vh;
    margin-bottom: 5rem;
}

.card-arjuna .card-body {
    border-color: var(--light);
    -webkit-border-radius: 0.25rem;
    -moz-border-radius: 0.25rem;
    -ms-border-radius: 0.25rem;
    -o-border-radius: 0.25rem;
    
    color: var(--light);
}

.card-sub-left {
    background-image: url("/img/christopher-burns-unsplash.jpg");
    background-size: cover;
    background-position: center;

    padding: 0;
}

.card-sub-right {
    background-image: url("/img/defier-nguyen-unsplash.jpg");
    background-size: cover;
    background-position: center;

    padding: 0;
}

.card-transparant {
    background-color: rgba(33, 37, 41, 0.5);

    border-width: 0.1rem !important;
    border-radius: 0.25rem;
    border: solid;
}

.card-arjuna .card-transparant:hover {
    background-color: rgba(247, 249, 251, 0);
    color: rgba(247, 249, 251, 0);
}

.card-arjuna .card-transparant:hover h2 {
    color: rgba(247, 249, 251, 0);
}

.card-arjuna .card-body img {
    width: 100%;
}

.card-arjuna .card-body h2 {
    font-weight: bold;
    color: var(--primary);
    font-family: 'Righteous', cursive;
}

.card-arjuna .card-body p {
    font-weight: normal;
}


/*Footer*/
.footer {
    padding: 1rem;
}

.footer svg {
    max-height: 25px;
    margin: 1vh 0.5vh 1vh;
}

.footer svg .cls-1 {
    fill: var(--light-sub);
}

.footer a:hover svg .cls-1{
    fill: var(--light);
}

.footer svg .cls-2 {
    fill: var(--light-sub);
}

.footer a:hover svg .cls-2{
    fill: var(--light);
}

.footer p {
    font-size: 1rem;
    color: var(--light-sub);
}

.footer a {
    color: var(--dark);
}



/*--------------------------Rent--------------------------*/
/*Hero*/
.hero svg {
    width: 100%;
}

.hero .row {
    width: 100%;
}

/*Card Layanan*/
.card-layanan{
    margin-top: 2rem;
}

.card-layanan .card {
    border: none;
    margin-top: 1rem;
}

.card-layanan .card-body {
    margin: 1rem;

    border-width: 0.1rem !important;
    border-radius: 0.25rem;
    border: solid;
    border-color: var(--light);

    -webkit-border-radius: 0.25rem;
    -moz-border-radius: 0.25rem;
    -ms-border-radius: 0.25rem;
    -o-border-radius: 0.25rem;

    color: var(--light);
}

.card-layanan h2 a {
    color: var(--primary) !important;
    font-weight: bold;
}

.card-layanan p a {
    color: var(--primary) !important;
}

.card-layanan p {
    font-weight: 200;
}

.card-layanan svg .cls-2{
    fill: var(--light);
}

.card-layanan svg {
    max-height: 5rem;
}


/*Card Motor (+Property+ Homestay & Kos)*/
.card-motor {
    margin-top: 4rem;

    /*
    padding: 2rem 1rem 2rem 1rem;

    background-color: var(--light-sub);

    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    */
}

.card-motor .card {
    background-color: rgba(247, 249, 251, 0.25);

    border-width: 0.1rem !important;
    border-radius: 0.25rem;
    border: solid;
    border-color: var(--light);

    margin: 2rem 1rem 2rem 1rem;
}

.card-motor img {
    width: 100%;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.card-motor h2 {
    font-weight: bold;
}

.card-motor h5 {
    font-weight: bold;
    font-size: medium;
    margin-top: 1rem;
}

.card-motor p {
    font-size: large;
}

.card-motor .btn-primary {
    max-width: 15rem;
}

.card-motor .list-group .list-group-item {
    border-color: var(--light-sub);
    color: var(--light);
    font-weight: 200;
    font-size: medium;
    text-align: center;
}

.card-motor .text-center a {
    color: var(--primary) !important;
}


/*Text Syarat*/
.text-syarat {
    margin-top: 2rem;
}

.text-syarat h2 {
    font-weight: bold;
}

.text-syarat p {
    font-weight: 200;
}

.text-syarat .card {
    border-width: 0.1rem !important;
    border-radius: 0.25rem;
    border: solid;
    border-color: var(--light);
    margin: 1rem 0.2rem 1rem 0.2rem;
}


/*Footer*/
.footer {
    margin-top: 2rem;
}



/*-----------------Import Background-----------------*/
.hero-home {
    background-image: url("/img/nastuh-abootalebi-unsplash.jpg");
    background-position: center;
    background-size: cover;
}

.hero-rent {
    background-image: url("/img/christopher-burns-unsplash.jpg");
    background-position: center;
    background-size: cover;
}

.hero-property {
    background-image: url("/img/defier-nguyen-unsplash.jpg");
    background-position: center;
    background-size: cover;
}



/*-----------------------Contact-----------------------*/
.card-socmed {
    margin-top: 25vh;
    margin-bottom: 20vh;
    padding: 0;
}

.card-socmed h5 {
    margin-top: 1rem;
    font-weight: bold;
}

.card-socmed .card-body {
    margin: 0;
}

.card-socmed a {
    text-decoration: none;
}

.card-socmed .card-body {
    background-color: rgba(247, 249, 251, 0.25);
    padding-bottom: 0;
}

.card-socmed .whatsapp .card-body:hover {
    background-color: var(--tritary);
}

.card-socmed .location .card-body:hover {
    background-color: var(--secondary);
}

.card-socmed .instagram .card-body:hover {
    background-color: var(--four);
}



/*---------------------Privacy Policy---------------------*/
.card-privacy-policy {
    margin-top: 20vh;
}

.card-privacy-policy {
    background-color: rgba(247, 249, 251, 0.25);

    padding: 2rem;

    border-width: 0.1rem !important;
    border-radius: 0.25rem;
    border: solid;
    border-color: var(--light);
}

.card-privacy-policy p {
    margin-bottom: 0;
}





/*======================Media Query======================*/
/* laptop */
@media (max-width: 992px) {
    html {
        font-size: 75%;
    }
    
    /*Body Sub - Margin*/
    .body-sub {
        margin-left: 4rem !important;
        margin-right: 4rem !important;
    }

    /*Hero Page*/
    .hero {
        height: 35vh;
    }
    .hero h1 {
        font-size: 6rem;
    }
    .hero .card-transparant {
        height: 35vh;
        padding-top: 10vh;
    }

    /*Card Arjuna*/
    .card-arjuna {
        margin-top: 5rem;
        margin-bottom: 0rem;
    }
}



/* tablet */
@media (max-width: 768px) {
    html {
        font-size: 75%;
    }


    /*Hero*/
    .hero .card-transparant {
        height: 35vh;
        padding-top: 5vh;
    }

    /*
    .card-arjuna .card-body img {
        width: 0px;
    }
    */
}



/* mobile phone */
@media (max-width: 576px) {
    html {
        font-size: 75%;
    }

    .body-sub {
        margin-left: 1rem !important;
        margin-right: 1rem !important;
    }

    /*Navbar Top*/
    .navbar-top .container {
        margin-top: 0.5rem;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    /*Hero Page*/
    .hero {
        height: 35vh;
        margin-bottom: 5rem;
    }
    .hero h1 {
        font-size: 4rem;
    }
    .hero .card-transparant {
        height: 35vh;
        padding-top: 10vh;
    }

    /*
    .hero svg {
        width: 0;
    }
    */

    /*Card Layanan*/
    .card-layanan{
        margin-top: 5rem;
    }

    /*Card Arjuna*/
    .card-arjuna {
        margin-top: 5rem;
        margin-bottom: 0rem;
    }

    /*Card Motor*/
    .card-motor .row {
        padding-left: 4rem;
        padding-right: 4rem;
    }

    /*Card Socmed*/
    .card-socmed {
        margin-top: 10vh;
        margin-bottom: 5vh;
    }

    /*Card Privacy Policy*/
    .card-privacy-policy {
        margin-top: 15vh;
    }
}



/*Scroll Animation to Javascript*/
.elemen {
    position: relative !important;
    transform: translateY(50px) !important;
    -webkit-transform: translateY(50px) !important;
    -moz-transform: translateY(50px) !important;
    -ms-transform: translateY(50px) !important;
    -o-transform: translateY(50px) !important;
    opacity: 0 !important;
    transition: all 0.7s ease !important;
    -webkit-transition: all 0.7s ease !important;
    -moz-transition: all 0.7s ease !important;
    -ms-transition: all 0.7s ease !important;
    -o-transition: all 0.7s ease !important;
}

.elemen2 {
    position: relative !important;
    transform: translateY(50px) !important;
    -webkit-transform: translateY(50px) !important;
    -moz-transform: translateY(50px) !important;
    -ms-transform: translateY(50px) !important;
    -o-transform: translateY(50px) !important;
    opacity: 0 !important;
    transition: all 1.7s ease !important;
    -webkit-transition: all 1.7s ease !important;
    -moz-transition: all 1.7s ease !important;
    -ms-transition: all 1.7s ease !important;
    -o-transition: all 1.7s ease !important;
}

.tampil {
    position: relative !important;
    transform: translateY(0px) !important;
    -webkit-transform: translateY(0px) !important;
    -moz-transform: translateY(0px) !important;
    -ms-transform: translateY(0px) !important;
    -o-transform: translateY(0px) !important;
    opacity: 1 !important;
}
